body {
  font-family: sans-serif;
  padding: 1em;
}

.UScongress-InstantSearch {
  margin: 1em 0;
}

.links {
  font-size: xx-small !important;
}

.search-main {
  margin-bottom: 1em;
  background-color: black;
}

.left-panel {
  padding: 10px 20px 0 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
