body {
  font-family: sans-serif;
  padding: 1em;
}

.UScongress-InstantSearch {
  margin: 1em 0;
}

.links {
  font-size: xx-small !important;
}

.search-main {
  margin-bottom: 1em;
  background-color: black;
}
